:root {
    --color-fondo: #1a1a1a;
    --color-texto: #ffffff;
    --color-primario: #e63946;
    --color-sombra: rgba(0, 0, 0, 0.5);
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-fondo);
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px var(--color-sombra);
}

.logo img {
    width: 100px;
    height: auto;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--color-primario);
}

/* Menu Toggle Button */
.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--color-texto);
    cursor: pointer;
}

.titlulo-header{
    margin-left: 450px;
}

.titlulo-header h1{
    color: var(--color-texto) !important;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px var(--color-sombra);
    
}

.menu .logout {
    color: var(--color-texto);
    cursor: pointer;
    background-color: var(--color-primario);
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-left: 20px;
}

.menu .logout:hover {
    color: var(--color-texto);
    background-color: #ff0015;

}

/* Submenu styles */
.menu .submenu ul {
    display: block;
    position: absolute;
    background-color: var(--color-fondo);
    padding: 0;
    list-style: none;
    top: 100%;
    left: 0;
    box-shadow: 0px 2px 10px var(--color-sombra);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px); /* Comienza ligeramente desplazado hacia arriba */
    transition: all 0.3s ease; /* Animación suave */
}

.menu .submenu:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Se posiciona en su lugar */
}

.menu .submenu ul li {
    padding: 10px 20px;
    white-space: nowrap;
}

.menu .submenu ul li a {
    color: var(--color-texto);
    font-weight: normal;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}

.menu .submenu ul li a:hover {
    color: var(--color-primario);
    background-color: rgba(255, 255, 255, 0.1);
}

/* Asegura que el contenedor no afecte la posición del resto del menú */
.menu .submenu {
    position: relative;
}


.imagen-producto {
    width: 100%;
    max-width: 300px; /* Máximo ancho de la imagen */
    height: auto;
    border-radius: 8px; /* Bordes redondeados para un look más suave */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación al pasar el ratón */
    object-fit: cover; /* Asegura que la imagen se ajuste bien */
}

.imagen-producto:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la imagen */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); /* Efecto de sombra más prominente */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        
        background-color: var(--color-fondo);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 10px;
        box-shadow: 0px 2px 10px var(--color-sombra);
    }
    

    .menu ul {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        font-size: 25px;

    }


    .menu-toggle {
        display: block;
    }

    .menu.active {
        display: flex;
    }
}
